body,
html {
    height: 100%;
}

.recovery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--bg-color);
    padding: 1rem;
    background: linear-gradient(var(--primary-color), var(--secondary-color));
}

.recovery-card {
    background: var(--white);
    padding: 2rem;
    border-radius: var(--radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    color: var(--primary-color);
}

p {
    font-size: 0.95rem;
    margin: 1.5rem 0;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

input[type="email"] {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 1rem;
    width: 100%;
    color: var(--text-color);
}

input[type="email"]:focus {
    border: 0.025rem solid;
    border-color: var(--input-text-color);
    outline: none;
}

input[type="email"]:-webkit-autofill,
input[type="email"]:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px var(--white) inset !important;
    -webkit-text-fill-color: var(--text-color) !important;
    transition: background-color 5000s ease-in-out 0s;
    background-color: #e3f2fd !important;
}

input[type="email"]:-moz-autofill {
    box-shadow: 0 0 0 1000px var(--white) inset !important;
    color: var(--text-color) !important;
    background-color: #e3f2fd !important;
}

button[type="submit"],
button {
    padding: 0.75rem;
    background: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin: 1rem 0;
    width: 100%;
}

button[type="submit"]:hover,
button:hover {
    background: #163b52;
}

.error-message {
    color: red;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    display: none;
}

.voltar {
    font-size: 0.85rem;
    margin-top: 0.5rem;
    color: var(--primary-color);
}

.voltar a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}